{
    "presets": [
        "es2015",
        "react"
    ],

    "plugins": [
      //  "transform-object-rest-spread",
    //     "add-module-exports",  
      //   "react-hot-loader/babel"//在js或者jsx中使用babel-loader加options方法  

    ]
}